---
import Base from "./Base.astro"
const {title} = Astro.props;
---

<Base>
    <header class="flex items-center justify-between bg-primary text-center p-3">
        <div />
        <h1 class="text-3xl">JumbaLiar</h1>
        <div>
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost bg-secondary/20">
                    <div class="avatar mr-3">
                        <div class="w-8 rounded-full">
                          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                        </div>
                    </div>
                    Justin White
                </label>
                <ul tabindex="0" class="text-black dropdown-content menu p-2 shadow bg-base-100 rounded-lg w-full">
                    <li><a href="/login">Log Out</a></li>
                  </ul>
            </div>
        </div>
    </header>
    <nav class="bg-white/5 p-3 border-y border-black/30">
        <a href="/" class="btn btn-ghost bg-white/10 pointer-events-none">Endpoints</a>
        <a href="/media" class="btn btn-ghost hover:bg-white/5">Media</a>
        <a href="/accounts" class="btn btn-ghost hover:bg-white/5">Accounts</a>
        <a href="/applications" class="btn btn-ghost hover:bg-white/5">Applications</a>
        <a href="/swagger-ui" target="_blank" class="btn btn-ghost hover:bg-white/5">Swagger UI</a>
    </nav>
    <div class="container p-3 mx-auto max-w-5xl">
        <h1 class="text-2xl mb-3">{title}</h1>
        <slot />
    </div>
</Base